@using Microsoft.AspNetCore.Mvc.Localization
@model SchoolRegister.ViewModels.DTOs.AddOrUpdateGroupDto
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = ViewBag.ActionType + " " + Localizer["Group"].Value;
}

<h2>@ViewBag.ActionType @Localizer["Group"].Value</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddOrUpdateGroup">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="Id" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">@Localizer["Name"]</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@ViewBag.ActionType" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@Localizer["BackToList"]</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
